.contain-movie-list {
  background-color: rgb(23, 23, 23);
  color: white;
}
.contain-movie-list h1 {
  padding-top: 50px;
  margin: 0 20px 10px 20px;
}
.list-movie-orig {
  background-color: rgb(23, 23, 23);
  display: flex;
  gap: 20px;
  /* height: 50vh; */
  margin: 0 30px;
  padding: 20px 20px 80px 20px;
  overflow-x: auto;
}

.contain-img-movie-list :hover {
  transform: scale(1.1);
}
.img-origin {
  min-height: 300px;
}
