.navbar-contain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;

  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-contain-scroll {
  background-color: black;
}
.icon-nav {
  height: 30px;
}
.text-nav {
  /* background-color: blue; */
  font-size: 24px;
  color: red;
  font-weight: bold;
}
